<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
<div style="text-align: center;">
    <h1>Welcome to Candidate login page</h1>

    <form action="candidateProfile" method="post">
        <label>Candidate Name: </label>
        <input type="text" name="candidateName" placeholder="name"> <br/>
        <br/>
        <label>Email as password: </label>
        <input type="password" name="email" placeholder="your email"> <br/>
        <br/>
        <input type="submit" value="Submit"/>
    </form>

    <br/>
    <form action="newCandidate" method="get">
        <input type="submit" value="New User"/>
    </form>
    <br/>
    <br/>
    <form action="/" method="get">
        <input type="submit" value="Back" class="submit-button primary"/>
    </form>
</div>
</body>
</html>