<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/index.css}"/>
    <title>Title</title>
</head>
<body>
<div style="text-align: center;">

    <h1>Candidate Registration Form</h1>
    <br/>
    <form action="candidateLogin" method="get">
        <input type="submit" value="Candidate Login"/>
    </form>
    <br/>
    <br/>
    <form action="adminLogin" method="get">
        <input type="submit" value="Admin Login" class="submit-button primary"/>
    </form>


    <br/>
</div>
</body>
</html>